<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>SecretSanta</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/img/favicon.png" />

    <!-- all css here -->
    @Styles.Render("~/Content/SecretSanta/css")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/bundles/alertify/css")
    <script src="~/Content/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    @RenderBody()
    <footer class="hm-4-padding">
        <div class="container-fluid">

            <div class="footer-bottom border-top-1 ptb-15">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="copyright-payment">
                            <div class="copyright">
                                <p>
                                    Copyright © 2020 <a href="index.html">SecretSanta</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/SecretSanta/scripts")
    @Scripts.Render("~/bundles/alertify/js")
</body>
</html>
