@model SecretSanta.Data.Models.Wish

<script type="text/javascript">
    function onSuccess(data) {
        const el = document.querySelector('.confirm-btn');
        el.setAttribute('data-dismiss', 'modal');
        el.click();
        el.removeAttribute('data-dismiss')
    }
</script>



<div class="modal-content">
    <div class="modal-body">
        <div class="col-lg-6">
            <div class="qwick-view-content">
                <div class="text-center">

                </div>
                <div class="form">
                    @using (Ajax.BeginForm("Edit", "WishCard", new AjaxOptions { OnSuccess = "onSuccess" }))
                    {
                        @*<input type="text" name="name" />
                                <input type="submit" value="Поиск" />
                            }
                            @using (Html.BeginForm("Edit", "WishCard", FormMethod.Post))
                            {*@
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <label>
                            Title
                            @Html.TextBoxFor(model => model.Title, new { @placeholder = "Title", @class = "mt-10" })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </label>
                        <label>
                            Price
                            @Html.TextBoxFor(model => model.Price, new { @placeholder = "Price", @class = "mt-10" })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </label>
                        <label>
                            Link to shop
                            @Html.TextBoxFor(model => model.LinkToShop, new { @placeholder = "Link", @class = "mt-10" })
                            @Html.ValidationMessageFor(model => model.LinkToShop, "", new { @class = "text-danger" })
                        </label>
                        <label>
                            Description
                            @Html.TextArea("Description", Model.Description, new { @class = "mt-10" })
                        </label>
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.User)
                        @Html.HiddenFor(model => model.UserId)
                        @Html.HiddenFor(model => model.PathToPicture)
                        <div class="button-box button-position">
                            <input class="action-plus btn-style cr-btn btn-wish-add confirm-btn" type="submit" value="Save Changes" />
                        </div>
                        @*<div class="quickview-btn-gift text-center">
                                <a class="btn-style cr-btn" href="#"><span>create wish</span></a>
                            </div>*@
                    }
                    @*<form action="#" method="post">
                            <input class="mt-10" type="text" name="wish-title" required="required" placeholder="Title" />
                            <input class="mt-10" type="number" step="1" min="0" name="wish-price"
                                   placeholder="Price (RUB)" />
                            <input class="mt-10" type="url" name="wish-url" placeholder="Link to shop" />
                            <textarea class="mt-10" name="comment" placeholder="Description"></textarea>

                            <div class="button-box button-position mt-20">
                                <button type="submit" class="btn-style cr-btn">
                                    <span>Create wish</span>
                                </button>
                            </div>
                        </form>*@
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="qwick-view-content">
                <div class="text-center">
                    <div class="tab-pane active show fade mt-10" id="modal1" role="tabpanel">
                        <img src="@Url.Content($"~/Files/{Model.PathToPicture}")" alt="" width="290" height="368" />
                    </div>
                    <div class="button-box mt-20">
                        <a class="action-plus btn-style cr-btn btn-wish-add" title="Quick View" href="#">
                            <span>Open..</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lg-col-12 pb-30 ml-30 mr-30">



    </div>
</div>


@*<div class="modal-content">
        <div class="modal-header">
            <h4>Вы уверены?</h4>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>Название модели:</dt>

                <dt>Производитель</dt>


                <dt>Год выпуска</dt>

            </dl>
            <button class="btn btn-success" data-dismiss="modal" area-hidden="true">Close</button>
        </div>
    </div>*@

<script src="~/Content/assets/js/vendor/jquery-1.12.0.min.js"></script>
<script src="~/Content/assets/js/popper.js"></script>
<script src="~/Content/assets/js/bootstrap.min.js"></script>
<script src="~/Content/assets/js/isotope.pkgd.min.js"></script>
<script src="~/Content/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="~/Content/assets/js/jquery.counterup.min.js"></script>
<script src="~/Content/assets/js/waypoints.min.js"></script>
<script src="~/Content/assets/js/ajax-mail.js"></script>
<script src="~/Content/assets/js/owl.carousel.min.js"></script>
<script src="~/Content/assets/js/plugins.js"></script>
<script src="~/Content/assets/js/main.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>