@using WishList.Models;
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
@{WishModel currentWish = null; }
<h4>WishModel</h4>
<hr />
<div id="modDialog" class="modal fade" >
<div id="dialogContent" class="modal-dialog"></div>
</div>
@{
    <div class="row text-center">
        @foreach (WishModel wish in ViewBag.Wishes)
        {
            currentWish = wish;
            <div class="col-lg-6 d-flex align-items-stretch">
                <div class="card p-4">
                    <img class="card-img-top" src="~/Content/img/hub.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">@wish.Title</h4>
                        <p class="card-text">@wish.Description</p>
                        <p class="card-text">@wish.Date</p>
                        @Html.ActionLink("Редактировать", actionName: "Edit", controllerName: "WishCard",
                       routeValues: new { id = wish.Id }, htmlAttributes: new { @class = "btn btn-primary", id = @wish.Id })
                        @Html.ActionLink("Удалить", actionName: "DetailModal", routeValues: new { id = wish.Id }, htmlAttributes: new { @class = "mod" })
                    </div>
                </div>
            </div>
        }
    </div>
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".mod").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
                console.log("12345")
            });
        })
    </script>
}


