@model SecretSanta.Data.Models.Wish
@{
    Layout = null;
}
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Quick view</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <div class="col-lg-6">
            <div class="qwick-view-content">
                <div class="form">
                    <form id="SaveChanges" data-model="@Model.Id">
                        <input class="mt-10" name="Id" value="@Model.Id" hidden="true" />
                        <input class="mt-10" name="UserId" value="@Model.UserId" hidden="true" />
                        <label>
                            Title
                            <input class="mt-10" name="Title" placeholder="Ttile" value="@Model.Title" />
                        </label>
                        <label>
                            Price
                            <input class="mt-10" name="Price" type="number" step="0.1" placeholder="Price" value="@Math.Round(Convert.ToDouble(Model.Price), 2)" />
                        </label>
                        <label>
                            Link to shop
                            <input class="mt-10" name="LinkToShop" placeholder="Link" value="@Model.LinkToShop" />
                        </label>
                        <label>
                            Description
                            <textarea class="mt-10" name="Description" placeholder="Description">@Model.Description</textarea>
                        </label>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="qwick-view-content">
                <div class="text-center">
                    <div class="tab-pane active show fade mt-10" id="modal1" role="tabpanel">
                        @if (Model.PathToPicture == null)
                        {
                            <img class="item-pic" src="@Url.Content($"~/Files/default-gift.jpg")" alt="" width="290" height="368" />
                        }
                        else
                        {
                            <img class="item-pic" src="@Url.Content($"~/Files/{Model.PathToPicture}")" alt="" width="290" height="368" />
                        }
                    </div>
                    <div class="button-box mt-20">
                        <a class="action-plus btn-style cr-btn btn-wish-add" title="Choose photo">
                            <span onclick="document.getElementById('file-input-image').click();">Open...</span>
                            <input id="file-input-image" type="file" name="avatar" style="display: none;" accept="image/jpeg,image/png" data-wish="@Model.Id" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lg-col-12 pb-30 ml-25 mr-30">
        <div class="button-box">
            <a class="action-plus btn-style cr-btn btn-wish-add save-changes" href="#">
                <span>Save Changes</span>
            </a>
        </div>
    </div>
</div>
<script src="~/Content/assets/js/main.js"></script>
<script src="~/Scripts/Pages/Profile/DetailsModal.js"></script>
