
@{
    ViewBag.Title = "Upload";
}
    <p>My Firstname: @ViewBag.User.FirstName</p>
    <p>My Lastname: @ViewBag.User.LastName</p>
    <p>My Email: @ViewBag.User.Email</p>
    <p>My Recipient Firstname: @ViewBag.User.Recipient.FirstName</p>
    <p>My Recipient Lastname: @ViewBag.User.Recipient.LastName</p>
    <p>My Recipient Email: @ViewBag.User.Recipient.Email</p>
    <img src="@Href("~/Files/" + @ViewBag.User.PathToPicture)" alt="Alternate Text" />
    <img src="@Href("~/Files/" + @ViewBag.User.Recipient.PathToPicture)" alt="Alternate Text" />
