<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div class="wish-area pb-30 pt-15">
    <div class="container">
        <div class="section-title text-center mb-20">
            <h2>My wishes</h2>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="home1" role="tabpanel">
                <div class="row">
                    @foreach (var wish in ViewBag.Wishes)
                    {
                        <!-- Start one wish from gallery -->
                        <div id="@("WishId" + wish.Id)" class="col-md-6 col-lg-4 col-xl-3">
                            <div class="wish-wrapper mb-45">
                                <div class="wish-img">
                                    <a>
                                        @if (wish.PathToPicture == null)
                                        {
                                            <img id="@("img" + wish.Id)" src="@Url.Content($"~/Files/default-gift.jpg")" alt="" width="270" height="326" />
                                        }
                                        else
                                        {
                                            <img id="@("img" + wish.Id)" src="@Url.Content($"~/Files/{wish.PathToPicture}")" alt="" width="270" height="326" />
                                        }
                                    </a>
                                    @if (@wish.IsComlete)
                                    {
                                        <span class="done is-complete" id="@("wish" + wish.Id.ToString())">DONE</span>
                                    }
                                    else
                                    {
                                        <span class="not-done is-complete" id="@("wish" + wish.Id.ToString())">NOT DONE</span>
                                    }

                                    <div class="wish-action">
                                        <div class="wish-action-style">
                                            <a class="action-plus modalka" title="Quick View"
                                               href="@Url.Action("Details", "WishCard", new {id = wish.Id })">
                                                <i class="ti-search"></i>
                                            </a>
                                            <a class="action-check" title="Done" href="">
                                                <i class="ti-check" id="@wish.Id"></i>
                                            </a>
                                            <a class="action-trash" title="Delete" href="">
                                                <i class="ti-trash" id="@wish.Id" data-title="@wish.Title"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="wish-content text-center">
                                    <h4>
                                        <a id="@("title" + wish.Id)">@wish.Title</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--Confirm Modal-->
    <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ConfirmModalTitle">Delete this wish?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modal-body" class="modal-body pl-20">
                    You already have a wish on your list with that title. Are you sure you want to add it?
                </div>
                <div class="modal-footer pr-20">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="confirm-btn" type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->
</div>
<script>
    $(function () {
    $.ajaxSetup({ cache: false });
    $(".modalka").click(function (e) {

        e.preventDefault();
        $.get(this.href, function (data) {
            $('#dialogContent').html(data);
            $('#modDialog').modal('show');
        });
    });
    });
</script>
<script>
    function onChangeStatus() {
    const el = document.querySelectorAll(".ti-check");
    el.forEach(e => {
        e.addEventListener('click', (event) => {
            event.preventDefault();
            const target = event.target;
            const id = target.id;
            const promise = fetch(`https://localhost:44360/api/ChangeStatus/${id}`);
            promise.then(res => res.json()).then(isComplete => {
                const elDone = document.querySelector(`#wish${target.id}`)
                elDone.classList.toggle('done');
                elDone.classList.toggle('not-done');
                elDone.innerHTML = isComplete ? 'Done' : 'Not Done'
            });
        })
    })
}
onChangeStatus();
</script>
<script>
    function onDeleteWish() {
    const deleteIcon = document.querySelectorAll(".action-trash");
    deleteIcon.forEach(e => {
        e.addEventListener('click', (event) => {
            event.preventDefault();
            const target = event.target;
            const id = target.id;
            const title = target.dataset.title;
            $('#ConfirmModal').modal('show');
            document.querySelector('#modal-body').innerHTML = `Are you sure you want to delete "${title}?"`

            const confirmBtn = document.querySelector('#confirm-btn');
            confirmBtn.onclick = (event) => {
                event.preventDefault();
                fetch(`https://localhost:44360/api/DeleteWish/${id}`)
                    .then(res => {
                        $('#ConfirmModal').modal('hide');
                        document.querySelector(`#WishId${id}`).remove();
                        Notifier.showSuccess('Delete success', `<p><br>Wish "${title}" was deleted</p>`);
                    });
            };
        })
    })
}
onDeleteWish();
</script>
