@model SecretSanta.Data.Models.User
@{
    ViewBag.Title = "AnotherUser";
}
<div class="modal fade" id="modDialog">
    <div id="dialogContent" class="modal-dialog">
    </div>
</div>
<div class="wish-details-area hm-3-padding ptb-20">
    <div class="container-fluid">
        <div class="section-title text-center mb-20">
            <h2>@Model.FirstName @Model.LastName</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="wish-details">
                    <img id="avatar" src="~/Files/default-profile-picture.png" width="290" height="368" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="wish-details-content">
                    <h4 class="contact-title">Details</h4>
                    <div class="single-communication">
                        <div class="communication-text">
                            <h4>Full name</h4>
                            <p>@(Model.FirstName + " " + Model.LastName)</p>
                        </div>
                    </div>
                    <div class="single-communication">
                        <div class="communication-text">
                            <h4>Email:</h4>
                            <p>@Model.Email</p>
                        </div>
                    </div>
                    <div class="single-communication">
                        <div class="communication-text">
                            <h4>BirthDate:</h4>
                            <p>@Model.DateOfBirth.Date.ToString("dd.MM.yyyy")</p>
                        </div>
                    </div>
                    <div class="single-communication">
                        <div class="communication-text">
                            <h4>Address:</h4>
                            <p>@Model.Address</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="container ptb-30">
                <div class="section-title text-center mb-20">
                    <h2>User`s wishes</h2>
                </div>
                <!-------------------------------------------------WISH------------------------------------------------------>
                <div class="row">
                    @foreach (var wish in Model.Wishes)
                    {
                        <!-- Start one wish from gallery -->
                        <div id="@("WishId" + wish.Id)" class="col-md-6 col-lg-4 col-xl-3">
                            <div class="wish-wrapper mb-45">
                                <div class="wish-img">
                                    <a>
                                        @if (wish.PathToPicture == null)
                                        {
                                            <img id="@("img" + wish.Id)" src="@Url.Content($"~/Files/default-gift.jpg")" alt="" width="270" height="326" />
                                        }
                                        else
                                        {
                                            <img id="@("img" + wish.Id)" src="@Url.Content($"~/Files/{wish.PathToPicture}")" alt="" width="270" height="326" />
                                        }
                                    </a>
                                    @if (@wish.IsComlete)
                                    {
                                        <span class="done is-complete" id="@("wish" + wish.Id.ToString())">DONE</span>
                                    }
                                    else
                                    {
                                        <span class="not-done is-complete" id="@("wish" + wish.Id.ToString())">NOT DONE</span>
                                    }
                                    <div class="wish-action">
                                        <div class="wish-action-style">
                                            <a class="action-plus modalka" title="Quick View"
                                               href="@Url.Action("Details", "WishCard", new {id = wish.Id })">
                                                <i class="ti-search"></i>
                                            </a>
                                            <a id="add-to-my-wishlist" class="action-heart" title="Add To My Wishlist" href="#" data-wish="@wish.Id">
                                                <i class="ti-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="wish-content text-center">
                                    <h4>
                                        <a id="@("title" + wish.Id)">@wish.Title</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmModalTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You already have a wish on your list with that title. Are you sure you want to add it?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="confirm-btn" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- all js here -->
<script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false });
        $(".modalka").click(function (e) {

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    })
</script>
<script>
    const addToWishListArray = document.querySelectorAll('#add-to-my-wishlist');
    addToWishListArray.forEach(el => {
        el.addEventListener('click', (event) => {
            const wishId = el.dataset.wish;
            event.preventDefault();
            fetch(`https://localhost:44360/api/CheckAndAddToMyWishList/${wishId}`)
                .then(res => res.json())
                .then(answer => {
                    if (answer.IsRepeat) {
                        $('#ConfirmModal').modal('show');
                        const confirmBtn = document.querySelector('#confirm-btn');
                        confirmBtn.onclick = (event) => {
                            event.preventDefault();
                            fetch(`https://localhost:44360/api/AddToMyWishList/${wishId}`);
                            $('#ConfirmModal').modal('hide');
                            Notifier.showSuccess("<strong>Wish added to your wishlist</strong>");
                        };
                    }
                    else {
                        Notifier.showSuccess("<strong>Wish added to your wishlist</strong>");
                    }
                });
        });
    });
</script>

