@model SecretSanta.Data.Models.User

@{
    ViewBag.Title = "Index";
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div id="modDialog1" class="modal fade">
    <div id="dialogContent1" class="modal-dialog"></div>
</div>
<div class="wish-details-area hm-3-padding ptb-20">
    <div class="container-fluid">
        <div class="section-title text-center mb-20">
            <h2>@Model.FirstName @Model.LastName</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center">
                <div class="wish-details">
                    @if (Model.PathToPicture == null)
                    {
                        <img id="avatar" src="~/Files/default-profile-picture.png" width="290" height="368" />
                    }
                    else
                    {
                        <img id="avatar" src="~/Files/@Model.PathToPicture" width="290" height="368" />
                    }
                </div>
                <a class="action-plus btn-style cr-btn btn-wish-add mt-20" title="Choose photo" href="#">
                    <span onclick="document.getElementById('file-input').click();">Open...</span>
                    <input id="file-input" type="file" name="avatar" style="display: none;" />
                </a>
            </div>

            <div class="col-lg-4">
                <div class="wish-details-content">
                    <div class="wish-overview">
                        <h5 class="pd-sub-title mt-10">Details</h5>
                        <div class="form">
                            <form id="SaveChangesDetails">
                                <input class="mt-10" name="Id" value="@Model.Id" hidden="true" />
                                <input class="mt-10" name="FirstName" placeholder="First name" value="@Model.FirstName" />
                                <input class="mt-10" name="LastName" placeholder="Last name" value="@Model.LastName" />
                                <input class="mt-10" name="DateOfBirth" type="date" placeholder="Date of birth" value="@Model.DateOfBirth.Date.ToString("yyyy-MM-dd")" />
                                <input class="mt-10" name="Address" placeholder="Address" value="@Model.Address" />
                                <div class="button-box mt-20">
                                    <a id="save-changes-btn" class="action-plus btn-style btn-wish-add disable-btn" href="#">
                                        <span>Save changes</span>
                                    </a>
                                </div>
                            </form>
                            <div id="profileButtons" class="d-inline">
                                <div class="button-box mt-20">

                                    <a id="profileButtonsInn" class="action-plus btn-style cr-btn btn-wish-add add-wish-modal" title="Add wish" @*data-toggle="modal" data-target="#exampleModal"*@
                                       href="@Url.Action("Create", "WishCard")">
                                        <span>Add wish</span>
                                    </a>
                                    @if (Model.IsAdmin)
                                    {
                                        if (Model.Recipient != null)
                                        {
                                            <a id="MakeMagic" class="action-plus btn-style btn-wish-add disable-btn" href="">
                                                <span>Make a magic</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a id="MakeMagic" class="action-plus btn-style cr-btn btn-wish-add" href="">
                                                <span>Make a magic</span>
                                            </a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="wish-details-content">
                    <div class="wish-overview">
                        <h5 class="pd-sub-title mt-10">Change password</h5>
                        <div class="form">
                            <form id="ChangePassword">
                                <input class="mt-10" type="password" name="OldPassword" placeholder="Old password" />
                                <input class="mt-10" type="password" name="NewPassword" placeholder="New password" />
                                <input class="mt-10" type="password" name="ConfirmNewPassword" placeholder="Confirm new password" />
                                <div class="button-box mt-10">
                                    <a class="action-plus btn-style cr-btn btn-wish-add change-password" href="#">
                                        <span>Change password</span>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="container ptb-30">
                    <div class="section-title text-center mb-20">
                        <h2>My wishes</h2>
                    </div>
                    <!-------------------------------------------------WISH------------------------------------------------------>
                    <div class="row">
                        @foreach (var wish in ViewBag.Wishes)
                        {
                            <!-- Start one wish from gallery -->
                            <div id="@("WishId" + wish.Id)" class="col-md-6 col-lg-4 col-xl-3">
                                <div class="wish-wrapper mb-45">
                                    <div class="wish-img">
                                        <a>
                                            @if (wish.PathToPicture == null)
                                            {
                                                <img id="@("img" + wish.Id)" src="@Url.Content($"~/Files/default-gift.jpg")" alt="" width="270" height="326" />
                                            }
                                            else
                                            {
                                                <img id="@("img" + wish.Id)" src="@Url.Content($"~/Files/{wish.PathToPicture}")" alt="" width="270" height="326" />
                                            }
                                        </a>
                                        @if (@wish.IsComlete)
                                        {
                                            <span class="done is-complete" id="@("wish" + wish.Id.ToString())">DONE</span>
                                        }
                                        else
                                        {
                                            <span class="not-done is-complete" id="@("wish" + wish.Id.ToString())">NOT DONE</span>
                                        }

                                        <div class="wish-action">
                                            <div class="wish-action-style">
                                                <a class="action-plus modalka" title="Quick View"
                                                   href="@Url.Action("Details", "WishCard", new {id = wish.Id })">
                                                    <i class="ti-search"></i>
                                                </a>
                                                <a class="action-check" title="Done" href="">
                                                    <i class="ti-check" id="@wish.Id"></i>
                                                </a>
                                                <a class="action-trash" title="Delete" href="">
                                                    <i class="ti-trash" id="@wish.Id" data-title="@wish.Title"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wish-content text-center">
                                        <h4>
                                            <a id="@("title" + wish.Id)">@wish.Title</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Confirm Modal-->
<div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmModalTitle">Delete this wish?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-body" class="modal-body pl-20">
                You already have a wish on your list with that title. Are you sure you want to add it?
            </div>
            <div class="modal-footer pr-20">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="confirm-btn" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- all js here -->
<script src="~/Scripts/Pages/Profile/Profile.js"></script>


