@model SecretSanta.Data.Models.User

@{
    ViewBag.Title = "Index";
}
@*<div class="breadcrumb-area mt-37 hm-4-padding">
        <div class="container-fluid">
            <div class="breadcrumb-content text-center border-top-2">
                <h2>@Model.FirstName @Model.LastName</h2>
            </div>
        </div>
    </div>*@
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div id="modDialog1" class="modal fade">
    <div id="dialogContent1" class="modal-dialog"></div>
</div>
<div class="wish-details-area hm-3-padding ptb-20">
    <div class="container-fluid">
        <div class="section-title text-center mb-20">
            <h2>@Model.FirstName @Model.LastName</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center">
                <div class="wish-details">
                    @if (Model.PathToPicture == null)
                    {
                        <img id="avatar" src="~/Files/default-profile-picture.png" width="290" height="368" />
                    }
                    else
                    {
                        <img id="avatar" src="~/Files/@Model.PathToPicture" width="290" height="368" />
                    }
                </div>
                <a class="action-plus btn-style cr-btn btn-wish-add mt-20" title="Choose photo" href="#">
                    <span onclick="document.getElementById('file-input').click();">Open...</span>
                    <input id="file-input" type="file" name="avatar" style="display: none;" />
                </a>
            </div>

            <div class="col-lg-4">
                <div class="wish-details-content">
                    <div class="wish-overview">
                        <h5 class="pd-sub-title mt-10">Details</h5>
                        <div class="form">
                            @using (Html.BeginForm("Edit", "Profile", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()


                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                @Html.TextBoxFor(model => model.FirstName, new { @placeholder = "First name", @class = "mt-10" })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                                @Html.TextBoxFor(model => model.LastName, new { @placeholder = "Last name", @class = "mt-10" })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

                                @Html.TextBoxFor(model => model.DateOfBirth, "{0:yyyy-MM-dd}", new { @type = "date", @class = "mt-10" })
                                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })

                                @Html.TextBoxFor(model => model.Address, new { @placeholder = "Address", @class = "mt-10" })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                                <div class="button-box mt-20">

                                    <a class="action-plus btn-style cr-btn btn-wish-add" href="#">
                                        <span>Save changes</span>
                                    </a>
                                </div>

                                <div id="profileButtons" class="d-inline">
                                    <div class="button-box mt-20">

                                        <a id="profileButtonsInn" class="action-plus btn-style cr-btn btn-wish-add add-wish-modal" title="Add wish" @*data-toggle="modal" data-target="#exampleModal"*@
                                           href="@Url.Action("Create", "WishCard")">
                                            <span>Add wish</span>
                                        </a>
                                        @if (Model.IsAdmin)
                                        {
                                            <a class="action-plus btn-style cr-btn btn-wish-add" href="#">
                                                <span>Make a magic</span>
                                            </a>
                                        }

                                    </div>
                                </div>

                            }

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="wish-details-content">
                    <div class="wish-overview">
                        <h5 class="pd-sub-title mt-10">Change password</h5>
                        <div class="form">
                            <input class="mt-10" type="password" name="OldPassword" placeholder="Old password" />
                            <input class="mt-10" type="password" name="NewPassword" placeholder="New password" />
                            <input class="mt-10" type="password" name="ConfirmNewPassword" placeholder="Confirm new password" />
                            <div class="button-box mt-10">
                                <a class="action-plus btn-style cr-btn btn-wish-add change-password" href="#">
                                    <span>Change password</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="container ptb-30">
                    <div class="section-title text-center mb-20">
                        <h2>My wishes</h2>
                    </div>
                    <!-------------------------------------------------WISH------------------------------------------------------>
                    <div class="row">
                        @foreach (var wish in ViewBag.Wishes)
                        {
                            <!-- Start one wish from gallery -->
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <div class="wish-wrapper mb-45">
                                    <div class="wish-img">
                                        <a>
                                            @if (wish.PathToPicture == null)
                                            {
                                                <img id="@("img" + wish.Id)" src="@Url.Content($"~/Files/default-gift.jpg")" alt="" width="270" height="326" />
                                            }
                                            else
                                            {
                                                <img id="@("img" + wish.Id)" src="@Url.Content($"~/Files/{wish.PathToPicture}")" alt="" width="270" height="326" />
                                            }
                                        </a>
                                        @if (@wish.IsComlete)
                                        {
                                            <span class="done is-complete" id="@("wish" + wish.Id.ToString())">DONE</span>
                                        }
                                        else
                                        {
                                            <span class="not-done is-complete" id="@("wish" + wish.Id.ToString())">NOT DONE</span>
                                        }

                                        <div class="wish-action">
                                            <div class="wish-action-style">
                                                <a class="action-plus modalka" title="Quick View"
                                                   href="@Url.Action("Details", "WishCard", new {id = wish.Id })">
                                                    <i class="ti-search"></i>
                                                </a>
                                                <a class="action-check" title="Done" href="">
                                                    <i class="ti-check" id="@wish.Id"></i>
                                                </a>
                                                <a class="action-trash" title="Delete" href="">
                                                    <i class="ti-trash" id="@wish.Id"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wish-content text-center">
                                        <h4>
                                            <a id="@("title" + wish.Id)">@wish.Title</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- all js here -->
<script type="text/javascript">

    $(function () {
        $.ajaxSetup({ cache: false });
        $(".modalka").click(function (e) {
            console.log("click!")

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    })
</script>
<script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false });
        $(".add-wish-modal").click(function (e) {
            console.log("click!")

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent1').html(data);
                $('#modDialog1').modal('show');
            });
        });
    })
</script>
<script>
    const el = document.querySelectorAll(".ti-check");
    el.forEach(e => {
        e.addEventListener('click', (event) => {
            event.preventDefault();
            const target = event.target;
            const id = target.id;

            const promise = fetch(`https://localhost:44360/api/ChangeStatus/${id}`);
            promise.then(res => res.json()).then(isComplete => {
                const elDone = document.querySelector(`#wish${target.id}`)
                elDone.classList.toggle('done');
                elDone.classList.toggle('not-done');
                elDone.innerHTML = isComplete ? 'Done' : 'Not Done'
            });
        })
    })
</script>

<script>
    const elem = document.querySelector('.change-password');
    const data = {};
    console.log(elem);
    elem.addEventListener('click', (event) => {
        event.preventDefault();
        const inputOldPassword = document.querySelector('input[name=OldPassword]');
        const inputNewPassword = document.querySelector('input[name=NewPassword]');
        const inputConfirmNewPassword = document.querySelector('input[name=ConfirmNewPassword]');
        console.log(inputOldPassword.value);
        data.OldPassword = inputOldPassword.value;
        data.NewPassword = inputNewPassword.value;
        data.ConfirmNewPassword = inputConfirmNewPassword.value
        fetch("https://localhost:44360/api/ChangePassword", {

            method: 'POST',
            mode: 'cors',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res => {
            inputOldPassword.value = '';
            inputNewPassword.value = '';
            inputConfirmNewPassword.value = '';
            Notifier.showSuccess("<strong>Password updated</strong>", '<br><p>Your password has been updated!</p>')
        })
    })
</script>

<script>
    const inputFile = document.getElementById('file-input');
    inputFile.addEventListener('change', (event) => {
        var dataFile = new FormData();
        dataFile.append('file', inputFile.files[0])
        console.log(inputFile.files[0])
        fetch("https://localhost:44360/api/ChangeAvatar", {

            method: 'POST',
            body: dataFile
        })
            .then(res => res.json())
            .then(src => {
                const imgAvatar = document.querySelector('#avatar');
                imgAvatar.src = `/Files/${src}`;
            });

    })
</script>
